# Node Modules
node_modules/
  
# Logs
*.log
npm-debug.log*

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Cache and Build Files
.cache/
dist/
build/
coverage/

# IDE/Editor Specific
.vscode/
.idea/

# System Files
.DS_Store
Thumbs.db